@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar{
    overflow-x: hidden;
  }
  .scrollbar::-webkit-scrollbar {
    width: 3px;
    margin-right: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #dedede00;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #b4b4b4;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
  }
}



body,
#root {
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: row;
}

.mainCheckbox {
  border-radius: 50%;
  border: 1px solid black;
  width: 25px;
  height: 25px;
}

.taskDone {
  text-decoration: line-through;
}
